@page
@model IndexModel
@{
    ViewData["Title"] = "Boqian Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Test</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
